In [1]:
from sklearn.datasets import fetch_california_housing
cal=fetch_california_housing()

In [3]:
import pandas as pd
housing=pd.DataFrame(cal.data,columns=cal.feature_names)
housing["target"]=cal.target

In [4]:
housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [5]:
housing.drop(["Latitude","Longitude","AveBedrms"],axis=1,inplace=True)

In [6]:
housing.head()

   MedInc  HouseAge  AveRooms  Population  AveOccup  target
0  8.3252      41.0  6.984127       322.0  2.555556   4.526
1  8.3014      21.0  6.238137      2401.0  2.109842   3.585
2  7.2574      52.0  8.288136       496.0  2.802260   3.521
3  5.6431      52.0  5.817352       558.0  2.547945   3.413
4  3.8462      52.0  6.281853       565.0  2.181467   3.422

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [9]:
housing_np=scaler.fit_transform(housing)

In [12]:
from sklearn.linear_model import Lasso
model=Lasso()

In [13]:
model.get_params()

{'alpha': 1.0,
 'copy_X': True,
 'fit_intercept': True,
 'max_iter': 1000,
 'positive': False,
 'precompute': False,
 'random_state': None,
 'selection': 'cyclic',
 'tol': 0.0001,
 'warm_start': False}

In [ ]:
for i